@using WordCounter.Models

<head>
  <link rel="stylesheet" href="~/css/styles.css">
</head>
<body>


<h1>Your Matches:</h1>

Your Word: @Model.Word<br>
Your Sentence: @Model.Phrase
<br>
Appears in your sentence: @Model.GetCount()
<br>
<a href="/wordcounter/new">New Word</a>


</body>
