<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/styles.css" type="text/css" />
    <title>WORD X COUNTER</title>
  </head>
  <body>
    <h1>Add a word</h1>
    <form action="/wordcounter" method="post">
      <label for="word">Whats your word?</label><br>
      <input id="word" name="word" type="text"><br>
      <label for="phrase">Whats your sentence?</label><br>
      <input id="phrase" name="phrase" type="text"><br>
      <button type="submit" class="btn btn-dark">Submit Sentence</button>
    </form>
    </body>
</html>
