<!DOCTYPE html>
<html>
  <head>
    <title>WORD || COUNTER</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css">
  </head>
  <body>
    <h1>Welcome to the word counter..</h1>

    <a href="/wordcounter/new">Start new game</a>
  </body>
</html>
