<!-- @using WordCounter.Models;

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>TAMAGOTCHI</title>
  </head>
  <body>
    <h1>Add a new Pet</h1>

    <! <form action="/wordcounters" method="post">
      <label for="name">Whats your pets name?</label><br>
      <input id="name" name="name" type="text"><br>
      <button type="submit">Create Pet</button> -->

    <!-- </form>
  </body>
</html> -->
 -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Word Counter</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
    <link rel="stylesheet" href="~/css/styles.css"/>
  </head>
  <body>>
      <h1>fhkdshfskh</h1>
      <form action="/wordcounter" method="post">
        <label for="word">Your word</label>
        <input id="word" name="word" type="text">
        <label for="sentence">Your sentence</label>
        <input id="sentence" name="sentence" type="text">
        <button type="submit">Count</button>
      </form>
  </body>
</html>
