<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="~/css/styles.css">
    <title>WORD || COUNTER</title>
  </head>
  <body>
    <h1>Add a word</h1>

    <form action="/words" method="post">
      <label for="word">Whats your word?</label><br>
      <input id="word" word="word" type="text"><br>
      <button type="submit">Add Word</button>

      <h1>Add a sentence</h1>

      <form action="/words" method="post">
      <label for="sentence">Whats your sentence?</label><br>
      <input id="sentence" word="sentence" type="text"><br>
      <button type="submit">Add Word</button>

    </form>
  </body>
</html>
