body {
  text-align: center;
  background-image: linear-gradient(to right, #66ada5, #9bad66);
  font-family: sans-serif;
}

.container {
  margin-top: 150px;
  background-color: #ffffff;
}

.color {
  color: #66ada5;
}
